body{
  font-family: 'Montserrat', sans-serif;
}

#wrapper{
  margin-left: auto;
  margin-right: auto;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.infoContainer{
  background-color: rgb(105, 105, 105);
  border-radius: 3%;
  width: 350px;
  height: 500px;
}

#current{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon{
  object-fit:contain;
  margin-right: 10px;
  width: 80px;
  display: flex;
  align-items: end;
}

.hourIcon{
  object-fit:contain;
  width: 30px;

}

.currentTemp{
margin: 0;
  font-size: 60px;
}

.minAndMax{
  font-size: 20px;
}

.forecastHour{
  display: flex;
  justify-content: center;
  font-size: 15px;
  width: auto;
}

.hourLine{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 10px;
}